@import "tailwindcss";

@theme {
  --color-brand-primary: #f2a900;
  --color-brand-secondary: #1a1a1a;
  --color-brand-accent: #ffffff;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
